@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
/*=============== Reset ===============*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*=============== Style ===============*/
body{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}
.header{
	background-color: #f7f7f7;
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	width: 250px;
	padding-left: 15px;
	padding-right: 15px;
    z-index: 7;
}
.author{
	padding-top: 25px;
	margin-bottom: 40px;
}
.author .img{
	display: inline-block;
    max-width: 100%;
    margin-right: 15px;
    height: 70px;
    width: 70px;
    vertical-align: middle;
    position: relative;
}
.author .img img{
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 50%;
    border: 3px solid #fff;
    vertical-align: middle;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.author .img:before,
.author .img:after{
	position: absolute;
	top: 50%;
	content: '';
	height: 3px;
	background-color: #fff;
	margin-top: -1.5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.author .img:before{
	width: 18px;
	left: -18px;
}
.author .img:after{
	width: 166px;
	right: -166px;
}
.a-name{
	font-size: 22px;
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    font-weight: 700;
    color: #00beff;
}
.a-name span{
	font-size: 14px;
    color: #9E9E9E;
    font-weight: 100;
}
.nav-bar{}
.menu{}
.menu li{
	text-transform: uppercase;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.menu li a{
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	color: #777;
	font-size: 16px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.menu li a:hover,
.menu li.active a{
    color: #363636;
}
.menu li a:before{
    height: 2px;
    width: 2px;
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all .5s;
}
.menu li a:hover:before{
    box-shadow: 0px 0 0 rgba(0, 0, 0, 0.7), 8px 0px 0 rgba(0, 0, 0, 0.6), 16px 0 0 rgba(0, 0, 0, 0.5), 32px 0 0 rgba(0, 0, 0, 0.4), 64px 0 0 rgba(0, 0, 0, 0.3), 128px 0 0 rgba(0, 0, 0, 0.2);
}
.ink {
  display: block;
  position: absolute;
  background:rgba(255, 255, 255, 0.8);
  border-radius: 100%;
  -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}

.animate {
	-webkit-animation:ripple 0.65s linear;
   -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
     -o-animation:ripple 0.65s linear;
        animation:ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}

.page{
	margin-left: 270px;
	padding: 15px;
	height: 100vh;
}
.bfolio{
	text-align: center;
}
.bf-item{
	display: inline-block;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    margin: 0 15px 30px;
    width: 270px;
    height: 338px;
}
.bf-item .pic{
	width: 250px;
	height: 250px;
	overflow: hidden;
	margin-bottom: 15px;
}
.bf-item .pic img{
	display: inline-block;
	max-width: 100%;
}
.bf-item .title{
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 5px;
}
.bf-item .link{
	font-size: 14px;
	text-decoration: none;
	color: #999;
}
.bf-item .link:hover{
	text-decoration: underline;
}
.footer{
    width: 220px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 8;
    padding: 15px;
    font-size: 12px;
}
.footer .text{
    text-align: center;
    color: #ccc;
}